.body-content-container {
  /*font-size: 3em;*/
  background: #fff;
  margin-top: 100px;
}

.accordion-section {
  padding: 10px 0 10px 0;
}

.faq-question {

}

.faq-answer {

}

.accordion.js > * {
  overflow: hidden;
}

.accordion.js > *:not(.expanded) > *:not(.faq-question) {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.accordion.js > .expanded > *:not(.faq-question) {
  max-height: 10em;
  opacity: 1;
  visibility: visible;
}

.accordion.js > * > .faq-question {
  cursor: pointer;
  visibility: visible;
}

.accordion.js > * > *:not(.faq-question) {
  transition: max-height 1s,
    visibility 1s,
    margin 1s,
    opacity 1s;
}
