.body-content-container {
  /*font-size: 3em;*/
  background: #fff;
  margin-top: 100px;
}

.accordion {
  width: 100%;
}

@media(min-width: 992px){
  .accordion {
    width: 60%;
  }
}

.accordion-section {
  padding: 10px 0 10px 0;
}

.faq-question {
}

.faq-answer {

}

.accordion.js > * {
  overflow: hidden;
}

.accordion.js > *:not(.expanded) > *:not(.faq-question) {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
}

/* styling of ANSWER when accordion is expanded */
.accordion.js > .expanded > *:not(.faq-question) {
  max-height: 10em;
  opacity: 1;
  visibility: visible;
  padding: 10px;
  border-bottom: 2px solid #7bc9b7;

}

/* styling of what user initially sees on page for Question */
.accordion.js > * > .faq-question {
  cursor: pointer;
  visibility: visible;
  background-color: #7bc9b7;
  /*width: 100%;*/
  padding: 10px;
}

.accordion.js > * > *:not(.faq-question) {
  transition: max-height 1s,
    visibility 1s,
    margin 1s,
    opacity 1s;
}
