/* STYLESHEET STARTS HERE */

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

/* HEADER */
/* ========================================================================= */
header {
  background: orange;
  position: fixed;
  width: 100%;
  min-height: 60px;
  z-index: 999;
}

.header-outer-inner {
  display: table;
  width: 100%;

}

.header-inner {
  display: table-row;
  min-width: 100%;
  background: yellow;
}

.header-logo,
.header-info,
nav {
  display: table-cell;
  background: purple;
  vertical-align: middle;
}

.header-logo {
  width: 10%;
}

.header-info {
  width: 25%;
}

  .header-info-name {
    /*width: 25%;*/
    height: 50%;
  }

  .header-info-number {
    /*width: 25%;*/
    height: 50%;
  }




/* NAVIGATION */
/* ========================================================================= */
nav {
  /*display: inline-block;*/
  padding: 0;
  background: pink;
  width: 100%;
  text-align: right;
}

.nav-container {
  width: 100%;
  background: rebeccapurple;
}

.nav-container li {
  display: inline-block;
  font-size: 1em;
  background: green;
  height: 100px;
  width: 30%;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.nav-container a {
  text-decoration: none;
  display: block;
  background: grey;
  /*width: 33.3%;*/
}

/* flex solution */
/*
.nav-container {
  display: flex;
  justify-content: flex-end;
}
.nav-container li {
  /*align-items: space-between;
  flex-grow: 1;
}

*/


/* Content Alignment Containers */
/* ========================================================================= */
.header-content-container,
.body-content-container {
  max-width: 90%;
  margin: auto;
  background: grey;
}

.header-content-container {
  padding: 10px 0 10px 0;
  /*position: relative;*/
  /*display: table;*/
}

.page-container {
  width: 100%;
  background-color: yellow;
  min-height: 100%;
}

/* section height setups*/
#fp-section1 {
  height: 75vh;
  background-color: red;
}

#fp-section2 {
  height: 50vh;
  background-color: blue;
}

#fp-section3 {
  height: 60vh;
  background-color: pink;
}

/* DEV STYLES */
/* ========================================================================= */
.nav-bar {
  background-color: green;
}

/*.header-logo {
  background: white;
}*/
