/* STYLESHEET STARTS HERE */

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

/* HEADER */
/* ========================================================================= */
header {
  background: #fff;
  position: fixed;
  width: 100%;
  min-height: 60px;
  z-index: 999;
}

.header-outer-inner {
  display: table;
  width: 100%;

}

.header-inner {
  display: table-row;
  min-width: 100%;
  /*background: yellow;*/
}

.header-logo,
.header-info,
nav {
  display: table-cell;
  /*background: purple;*/
  vertical-align: middle;
  color: #595959;
}

.header-logo {
  width: 5%;
}

.header-info {
  width: 50%;
}

  .header-info-name {
    /*width: 25%;*/
    height: 50%;
    padding-left: 10px;
  }

  .header-info-number {
    /*width: 25%;*/
    height: 50%;
    padding-left: 10px;
    display: none;
  }


@media (min-width: 768px) {
  .header-info-number {
    display: block;
  }
}
/* NAVIGATION */
/* ========================================================================= */
/* nav.css


/* Content Alignment Containers */
/* ========================================================================= */
.page-container {
  width: 100%;
  /*background-color: yellow;*/
  min-height: 100%;
}

.header-content-container {
  max-width: 90%;
  margin: auto;
  padding: 10px 0 10px 0;
  /*position: relative;*/
  background: orange;
  /*z-index: 2000;*/
}

.content-container {
  /*background: pink;*/
  max-width: 90%;
  margin: auto;
  height: 100%;
}


.body-content-container {
  background: green;
  min-height: 100vh;
}


/* section height setups*/
#fp-section1 {
  height: 85vh;
  width: 100%;
  /*background-color: red;*/
  background: url('assets/mw_hp_background.jpg');

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;

}

.fp-section1-opacity {
  background-color: rgba(128, 128, 128, 0.15);
  height: 100%;
}

.fp-section-1-text {
  padding-top: 100px;
}


#fp-section2 {
  height: 50vh;
  width: 100%;
  background-color: blue;
}

#fp-section3 {
  height: 60vh;
  width: 100%;
  background-color: pink;
}

/* DEV STYLES */
/* ========================================================================= */

/*.header-logo {
  background: white;
}*/
